.cid-qTkzRZLJNu .navbar{
    background: green;
}

.set-pad{
    padding-top: 25px;
}

.all-caps{
    text-transform: uppercase;
}

#footer-sec{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color:green;
}

.media-container{
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.align-right{
    text-align: right;
} 

.align-center{
    text-align: center;
}

.text-white{
    color: white;
}

.row2{
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.row-links{
    width: 100%;
    -webkit-justify-content: center;
    justify-content: center;
}

.foot-menu{
    list-style: none;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 0;
}

.foot-menu li {
    padding: 0 1em 1em 1em;
}

.foot-menu li p {
    margin: 0;
}

.display-7{
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.social-row {
    width: 100%;
    -webkit-justify-content: center;
    justify-content: center;
}

.social-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.pb-2{
    padding-bottom: .5rem !important;
}

.soc-item{
    margin: 0.5rem;
}

.mbr-iconfont-social{
    font-size: 20px;
    color: #fff;
}

.my-container{
    width: 100%;
}

.navbar{
    color: #fffdd0;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 8px !important;
}

.mbr-overlay{
    min-height: 500px;
    background: rgb(0, 143, 17, 0.89);
    opacity: 1;
}
.btn-secondary{
    background-color: red;
    border-color: red;
    opacity: 1;
}
.btn-white-outline{
    background-color: #fffdd0;
    border-color: #fffdd0;
    color: black;
}